@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;600;700&display=swap');

:root {
    background-color: #000;
    font-family: 'Sintony', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sintony', sans-serif;
}